<div class="container">
    <div>
        <h2>{{ dateTime|date('h:i a') }}</h2>
        <div><span> {{ dateTime|date('l, d F Y') }} </span></div>
        <p>Time in {{ city }}, {{ timezone }}, {{ country }} </p>
    </div>
</div>
